{% load static from staticfiles %} 
{% load i18n  %}
<!DOCTYPE HTML>
<html>
<head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
<title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header%}
<nav class="navbar navbar-inverse ">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/sales">Отчеты</a></li>
{% if user.is_authenticated %}            
             <li><a href="/logout" id="logout" >Выход<b>( {{ user }} )</b></a></li>
             
{% else %}
            <li><a href="/login"  id="login" >Вход</a></li>
{% endif %}            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

{% endblock %}
<div id="content">
    {% block content %}{% endblock %} 
</div>
{% block footer %} 
    {% include "footer.html" %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
