{% load static from staticfiles %} 
{% load i18n  %}
<!DOCTYPE HTML>
<html>
<head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
<title>Авторизация</title>
</head>
<body>
<div class="container">
<form class="form-signin"  method="post" action="{% url 'login' %}">
{% csrf_token %}
                    <div class="download">
                        <h4>The Best Application</h4>
                        <a href= "/startdownload"><img src="http://www.freeiconsweb.com/wp-content/themes/indezinerpaperwall/images/download-button-01.png" alt="download"></img></a>
                        <p>Click the button to start the download.</p>
                    </div>
</div>

</form>
{% block footer %} 
    {% include "footer.html" %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>


