{% extends 'base.html' %} <!-- подключаем базовый шаблон -->
{% block title %}License management{% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
  <table id="goods" class="table table-condensed table-bordered " > 
  <style type="text/css">       
    TABLE {  background: teal; 
    color: white; 
   }
   TD {
    background: silver; 
   }
   tbody tr:hover td {background: LightSlateGray;}   
  </style>
        <thead>
             <th>License</th>
             <th>Password</th> 
             <th>Status</th> 
             <th></th>              
             <th></th>
        </thead> 
        <tbody>
        {% for l in licenses %}
              <tr align="center" > 
                 <td>{{ l.license }}</td>
                 <td>{{ l.password }} </td>
                 <td>{{ l.status }} </td>
                 <td> <a href= 'record/info/{{ l.id }}'   class="btn btn-default btn-xs active" role="button">Информация </a> </td>
                 <td> <a href= 'record/print{{ l.id }}'   class="btn btn-default btn-xs active" role="button">Печать </a> </td>
                  
              </tr> 
        {% endfor %}
        </tbody>
  </table>        
    
<script >

$(document).on('change', 'input', function(event){
var rowid;
rowid = $(this).attr("id");
rowval= $(this).val();
$.get('/edit/', {id: rowid, val: rowval});
});	

</script>


{% endblock %}
{% block footer %}
<footer class="footer">
<div class="container pagination">
    <td> <a href= 'record/add/'   class="btn btn-default btn-xs active" role="button">Добавить лицензию </a> </td>
    <span class="step-links">
        {% if licenses.has_previous %}
            <a href="?page={{ licenses.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ licenses.number }} of {{ licenses.paginator.num_pages }}.
        </span>

        {% if licenses.has_next %}
            <a href="?page={{ licenses.next_page_number }}">next</a>
        {% endif %}
    </span>
<div>    
    </footer>
{% endblock %}

        
{% if user.is_authenticated %}            
{% else %}
{% endif %}            
