{% load static from staticfiles %} 
{% load i18n  %}
<!DOCTYPE HTML>
<html>
<head>
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
{% endblock %}
<title>Авторизация</title>
</head>
<body>
<div class="container">
<form class="form-signin"  method="post" action="{% url 'login' %}">
{% csrf_token %}
        <h2 class="form-signin-heading">Пожалуйста, авторизируйтесь</h2>
        <label for="username" class="sr-only">Имя пользователя</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Имя пользователя" required autofocus>
        <label for="password" class="sr-only">Пароль</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Пароль" required>
        <div class="checkbox">
             {%if login_error%}
                  <label>  {{login_error}} </label>                   
             {%endif %}    
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</div>

</form>
{% block footer %} 
    {% include "footer.html" %}
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
